body
{
	margin: 0px;
	background-color: #DDDDDD;
}

#PageContent
{
	color: white;
	background-color: #666666;
	vertical-align: top;
	border-collapse: collapse;
	padding: 0px;
	margin: 0px;
	height: 100%;
	width: 100%;
}

.popup*
{
	position: fixed;
	margin:auto;
	top: 25%;
	left: 25%;
	width: 50%;
	height: 50%;
	padding: 16px;
	border: 16px solid orange;
	background-color: white;
	z-index:1002;
	overflow: auto;
}

.popupshow{
	visibility: visible;
	display: block;
}

.popuphidden{
	visibility: hidden;
	display: none;
}

td
{
	vertical-align: top;
}

.dropdown*
{
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.dropdownshow
{
	visibility: visible;
}

.dropdownhidden
{
	visibility: hidden;
	display: none;
}

input
{
	width:100%;
}

input[type="text" i]
{
	width:150px;
}

input[type="number" i]
{
	width:50px;
}

input[type="list" i]
{
	width:150px;
}

input[type="radio" i]
{
	width: 20px;
}

input[type="checkbox" i]
{
	width: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
	-webkit-appearance: none;
	margin: 0;
}

/*====================================
/*Options*/
/*====================================*/
#PageHeader
{
	background-color: #444444;
	width: 100%;
}

/*====================================*/
/*Status*/
/*====================================*/
#PageFooter
{
	
}
